body {
    background: linear-gradient(to right, #0f3d2e, #1f7a5c, #4cc9a6);
    text-align:center;
}
.heading {
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1.5vmin;
    flex-wrap: wrap;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: lightyellow;
}
button:hover{
    cursor: pointer;
}

.reset-btn{
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: 0;
}

.new-btn{
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: 0;
}

.msg{
    color:yellow;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}